
header {
    font-size: 25px;
    font-family: Arial, sans-serif;
}


body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }


  #categoriesAndItemsDiv, #shoppingListsDiv, #storesDiv  {
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
}

input[type=text], select, input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #555;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

form, div {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    margin-bottom: 2px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

#shoppingListsSelect {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

label {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Phones and tablets*/
@media only screen and (max-width: 1099px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }
}